*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  // font-size: 62.5%; // Define 1rem, 1rem = 10px; 10px/16px = 62.5%
}

body {
  background: #fff;
}
@supports not (-ms-high-contrast: none) {
  /* Non-IE styles here */
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    &:not(.uk-offcanvas-container){
    }
  }
  header + main {
    flex: 1 0 auto;
  }
  header,
  footer {
    flex-shrink: 0;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE Specific styles here */
}

img {
  height: auto; // Make sure images are scaled correctly.
  max-width: 100%; // Adhere to container width.
}

embed,
iframe,
object {
  max-width: 100%;
}

/* ========================================
	Forms
======================================== */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    &:extend(.uk-button all);
//   border: 1px solid;
//   border-color: #ccc #ccc #bbb;
//   border-radius: 3px;
//   background: #e6e6e6;
//   color: rgba(0, 0, 0, 0.8);
//   font-size: 12px;
//   font-size: 0.75rem;
//   line-height: 1;
//   padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
//   border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
//   border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
//   color: #666;
//   border: 1px solid #ccc;
//   border-radius: 3px;
//   padding: 3px;
    &:extend(.uk-input all);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
//   color: #111;
}

select {
//   border: 1px solid #ccc;
    &:extend(.uk-select all);
}

textarea {
    &:extend(.uk-textarea all);
//   width: 100%;
}

input[type="range"] {
    &:extend(.uk-range all);
//   width: 100%;
}
input[type="checkbox"] {
    &:extend(.uk-checkbox all);
//   width: 100%;
}
input[type="radio"] {
    &:extend(.uk-radio all);
//   width: 100%;
}



/* ========================================
	Links
======================================== */


/* ========================================
	Menus/Navigation/Mobile Nav
======================================== */
