// ========================================
//	Text
// ======================================== */
// See UI Kit before making new classes:
// https://getuikit.com/docs/text

.spacing(@mp, @mp2: 0, @list: auto 0 1 2 3 4 5, @i: 1, @spacing: 5px)
  when
  (@i <= length(@list)) {
  @size: extract(@list, @i);
  &-@{size} {
    & when (@i > 1) {
      @{mp}: @size * @spacing;
      & when not (@mp2 = 0) {
        @{mp2}: @size * @spacing;
      }
    }
    & when (@i = 1) {
      @{mp}: @size;
    }
  }

  .spacing(@mp, @mp2, @list, @i + 1);
}

.m {
  &a {
    .spacing(margin);
  }
  &y {
    .spacing(margin-top, margin-bottom);
  }
  &x {
    .spacing(margin-left, margin-right);
  }
  &t {
    .spacing(margin-top);
  }
  &r {
    .spacing(margin-right);
  }
  &b {
    .spacing(margin-bottom);
  }
  &l {
    .spacing(margin-left);
  }
}

.p {
  &a {
    .spacing(padding);
  }
  &y {
    .spacing(padding-top, padding-bottom);
  }
  &x {
    .spacing(padding-left, padding-right);
  }
  &t {
    .spacing(padding-top);
  }
  &r {
    .spacing(padding-right);
  }
  &b {
    .spacing(padding-bottom);
  }
  &l {
    .spacing(padding-left);
  }
}
