#mobile_hamburger {
  &.mobile_open {
    [uk-icon*="menu"] {
      display: none;
    }
  }
  &:not(.mobile_open) {
    [uk-icon*="close"] {
      display: none;
    }
  }
}

#main_menu{
    > .menu-item-has-children{
        > .sub-menu{
            position: absolute;
            z-index: 1;
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.25s ease-in-out;
        }
        &:hover{
          > .sub-menu{
            opacity: 1;
            pointer-events: all;
          }
        }
    }

//   .menu-item-has-children{
//     .sub-menu{
//       background: white;
//       position: absolute;
//     }
//   }
}