
@global-link-color: @orange;
@global-link-hover-color: @gray;

@button-default-background: @orange;
@button-default-color: #ffffff;
@button-default-hover-background: @gray;
@button-default-hover-color: #ffffff; 


a{
    font-weight: 600;
}

.hook-button(){ // update .uk-button
    .uk-border-rounded;
    font-weight: bold;
}

.button-hover-effect{
    border: 1px solid transparent!important;
    &::after{
        content:' >';
        font-family: monospace;
        display: inline-block;
        font-size: 1em;
        vertical-align: 1px;
        transform: translateX(0%);
        transition: transform 0.5s ease;
        position: relative;
        margin-left: 0.25em;
    }
    &:hover{
        &::after{
            transform: translateX(75%);
        }
    }
}

.btn, a.btn{ //create new btn class that implements a small colored uk-button
    &:extend(.uk-button all);
    &:extend(.uk-button-small all);
    &:extend(.uk-button-default all);
    &:extend(.button-hover-effect all);

    transition: background-color 0.5s ease;
}