/**
 * Contains all stlying for code, that cannot be modified and needs UIkit-styling
 * E.g.: widgets
 */

 .widget_search {
    form.search-form {
        &:extend(.uk-form all);

        .search-submit {
            .uk-button;
        }
    }
}

.uk-comment {
    .uk-comment-header {
        img.avatar {
            .uk-comment-avatar;
        }
    }
}

.comment-form {
    &:extend(.uk-form all);
    &:extend(.uk-form-horizontal all);

    .form-submit input {
        .uk-button;
    }
}
.base-camp-sidebar,
.base-camp-sidebar-horizontal {
    ul {
        &:extend(.uk-nav all);
        &:extend(.uk-nav-default all);
        > li > a[aria-current]{
            &:extend(.uk-nav-default>li.uk-active>a);
        }
        > li > span > a{
            &:extend(.uk-nav-default>li>a);
        }
    }

    h2{
        .uk-h3;
        .uk-text-uppercase;
        .uk-margin-top;
        .uk-margin-remove-bottom;
    }

    .widget_search {
        .screen-reader-text {
            .uk-hidden;
        }

        form.search-form {

            .search-field {
                .uk-margin-small-top;
            }

            .search-submit {
                .uk-margin-small-top;
                // .uk-width-1-1;
            }
        }
    }
}