#leaders {
    h2 {
        font-size: 15px;
    }

    img {
        width: 100%;
    }

    a {
        color: #333;
    }

    .uk-grid {
        &.child-width-1-7d-1-2m div {
            width: ~'calc(50% - 30px)';

            @media screen and (min-width: @breakpoint-small) {
                width: ~'calc(33% - 40px)';
            }

            @media screen and (min-width: @breakpoint-medium) {
                width: ~'calc(14% - 40px)';
            }
        }
    }
}

.page-template-tpl-leadership {
    .leader {
        text-transform: uppercase;

        h3 {
            font-size: 12px;
            margin-top: 10px;
            margin-bottom: 0;
            text-transform: uppercase;
        }

        p {
            font-size: 10px;
            margin-top: 0;
            font-weight: 300;
        }
    }

    .uk-modal-dialog {
        width: 800px;
        max-width: ~'calc(100% - 30px)';

        button {
            padding: 10px 20px 0 20px;
            background-color: #FFF;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .uk-container {
            padding: 50px;

            @media screen and (min-width: @breakpoint-medium) {
                padding: 100px;
            }

            img {
                max-width: 100%;
                width: 220px;
            }
        }

        .leader-bio {
            p {
                font-size: 13px;
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }


}