.news_feed {
  .news {
    @media (max-width: @breakpoint-medium) {
      .uk-container {
        padding: 0;
      }
      .uk-grid-medium {
        margin-left: 0;
        > * {
          padding-left: 0;
        }
      }
      h1 {
        padding-left: 10px;
      }
      .uk-grid-small {
        margin-left: 0;
        > * {
          padding-left: 0;
        }
      }
    }

    article {
      position: relative;
      padding: 0.75em;
      &:extend(.uk-border-rounded all);

      &:hover {
        background: @gray-lt;
        .post__title {
          color: @orange;
        }
      }
      .bordered {
        border: 1px solid @gray;
      }

      .uk-cover-container {
        &:extend(.uk-border-rounded all);
      }
      .post__right {
        padding-top: 1em;
      }
      .uk-article-meta {
        margin: 0;
      }

      .post__title {
        color: @blue-dk;
        font-size: 1.25em;
        margin-top: 0.25em;
        a:hover {
          color: @orange;
        }
      }
      .post__excerpt {
        display: none;
      }
      canvas {
        width: 250px;
        height: 150px;

        @media (max-width: @breakpoint-small) {
          // height: 15vw;heightheight
        }
      }

      .btn {
        opacity: 0;
        overflow: hidden;
        height: 0;
        width: 0;
        border-width: 0 !important;
        &::before {
          content: "";
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          position: absolute;
          background: rgba(255, 25, 0, 0.25);
        }
      }
    }

    .article_wrapper {
      @media (min-width: 550px) {
        &:first-of-type {
          width: 100%;

          article {
            display: flex;
            .post__right {
              padding: 0 1em;
            }
          }

          canvas {
            width: 430px;
            height: 280px;
          }

          .post__excerpt {
            display: block;
          }
          article {
            background: inherit;
            &:hover {
              .post__title {
                color: @orange;
              }
            }
          }

          .btn {
            opacity: 1;
            overflow: visible;
            height: auto;
            width: auto;
            border-width: 1px !important;
            &::before {
              content: none;
            }
          }
        }
      }
      @media (max-width: 400px) {
        width: 100%;
      }
    }
  }
}

.media_feed {
  .uk-slider {
    margin-left: 2em;
    margin-right: 2em;
  }
  .uk-slidenav {
    color: #939498;
    * {
      fill: currentColor;
      width: auto;
      height: 2em;
    }
    &:hover {
      color: @blue-dk;
    }
  }
}

.rmc {
  &__meta {
    margin: 0;
  }
  &__title {
    font-size: 1rem;
    color: @blue-dk;
    margin: 0.5em 0;
  }
  &__desc {
    .uk-text-small;
    margin: 0;
  }
  &__action {
    margin-left: -1em;
    color: @orange;
  }
}

.uk-pagination {
  .current {
    color: @orange;
    font-weight: 600;
  }
}


.single_post{
    .uk-cover-container{
        margin-bottom: 25px;
    }
}