.rail-bg {
  background-image: url(images/backgrounds/rail-bg.jpg);
  background-size: contain;
  background-position-x: right;
  background-repeat: repeat-x;
}
.rail-bg *::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: calc(20px + (69 - 20) * (100vw - 320px)/(1920 - 320)) solid #3C4981;
  border-right: 110vw dashed transparent;
}
.overlay-edgeTriangles div {
  background-color: #FFF;
}
