.rail-bg {
    @media screen and (min-width: @breakpoint-medium) {
        background-image: url(./images/backgrounds/rail-bg.jpg);
        background-size: cover;
        background-position-x: right;
        background-repeat: no-repeat;
    }
}

.triangles-outer {
    padding: 0;
    height: 100%;
    width: 10%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 -5px; // emulator gap fix between the content and the side triangles

    &--left {
        background-image: url(./images/backgrounds/contact_left_edge.png);
        background-position: right top;
    }

    &--right {
        background-image: url(./images/backgrounds/contact_right_edge.png);
        background-position: left top;
    }
}

.container-has-edge-triangles { // Can be removed if the content is usually taller than 100vh or close to 100vh
    @media screen and (min-width: @breakpoint-medium) {
        > div {
            min-height: calc(100vh - 60px);
            padding: 0 5px; // emulator gap fix between the content and the side triangles
        }
    }
}

.overlay-edge-triangles {
    background-color: #FFF;

    @media screen and (min-width: @breakpoint-medium) {
        width: 43%;
        padding-left: 0;
    }
    @media screen and (min-width: @breakpoint-large) {
        width: 40%;
    }


    .uk-padding.overlay-edge-triangles-content {
        padding-bottom: 20px;
        @media screen and (min-width: @breakpoint-small) {
            padding-bottom: 80px;
        }
        @media screen and (min-width: @breakpoint-medium) {
            padding: 75px 40px 100px; // bottom padding ensure content is above footer
            position: relative;
        }
    }

    &.uk-first-column {
        @media screen and (min-width: @breakpoint-medium) {
            padding-left: 51px;
            padding-right: 51px;
        }
    }
}

.page-template-tpl-contact {
    .uk-offcanvas-bar {
        margin-top: 3px;
    }
    .contact_ribbon {
        display: none;
    }
    header .contact a {
        display: none;
    }
    .blue_tri::before {
        z-index: 2;
    }

    main {
        @media screen and (min-width: @breakpoint-medium) {
            height: 100%;
            // height: calc(100vh - 50px);
        }
    }

    p,
    a {
        font-size: 13px;
    }

    h2 {
        color: @blue-dk;
        font-size: 28px;
        text-transform: uppercase;
    }

    h3 {
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    .contact-half-blocks {
        p {
            margin-bottom: 0;
        }
    }
}