.default_page{



    .right_sidebar{
        min-width: 225px;
        font-size: 14px;
        strong{
            display: block;
            text-transform: uppercase;
            margin-bottom: 1rem;
            font-weight: 900;
            line-height: 1.2em;
        }
        .pdf_download{
            background: @blue-dk;
            color: white;
            .uk-border-rounded;
            .pdf_image{
                position: relative;
                display: table;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 1rem;
                &::before, &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-repeat: no-repeat;
                    background-position-x: center;
                    opacity: 20%;
                    pointer-events: none;
                    transition: background-position 0.25s ease, opacity 0.25s ease;
                }
                &::before{
                    background-image: url('./images/icons/png/pdf_download_top.png');
                    background-position-y: 41%;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    animation-duration: 2s;
                }
                &::after{
                    background-image: url('./images/icons/png/pdf_download_bottom.png');
                    background-position-y: 68%;
                }
                &:hover{
                    &::before{
                        opacity: 30%;
                        animation-name: bounce;
                    }
                    &::after{
                        opacity: 30%;
                    }
                }
            }
            .actions{
                text-align: center;
            }
        }

        .rich_text{
            .uk-border-rounded;
            ul, ol{
                padding-left: 1rem;
            }

            &.white{
                padding: 0;
            }
            &.blue{
                color: white;
                background: @blue-dk;
            }
            &.dgray{
                color: white;
                background: @gray-dk;
            }
            &.lgray{
                background: @gray-lt;
            }
        }

        .video{
            padding: 0;

            p{
                margin-bottom: 0.75rem;
            }

            .uk-cover-container{
                .uk-border-rounded;
                .uk-box-shadow-small;


                
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 2;
                    background-image: url("./images/icons/png/play-symbol.png");
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    pointer-events: none;
                    // transition: background 0.25s ease;transition
                    transition: transform 0.25s ease;
                    transform: scale(1);
                    transform-origin: center;
                }

                &:hover {
                    &::before {
                    opacity: 0;
                    }
                    &::after {
                    transform: scale(1.125);
                    //   background-position: 51% 50%;background-position
                    }
                }
            }
        }
    }
    
}