// .faq-grid {

// }
.not-muted-s {
    background-color: white;

    @media screen and (min-width: @breakpoint-medium) {
        background-color: #f8f8f8;

    }
}
.page-template-tpl-faqs {
    hr {
        color: @gray;
        // border-top-color: @gray;
        border-top: 1px solid @gray;
        
        &.mobile-divider {
            margin-top: 8px;
        }

    }
}
.faq-section-heading {
    padding: 0;
    h2 {
        @media screen and (min-width: @breakpoint-medium) {
            padding-left: 30px;
        }
    }
}
.faq-list {
    li {
        border-bottom: 1px solid @gray;
        padding-bottom: 20px;
        li {
            border-bottom: none;
            list-style: disc;
        }
    }
}
.faq-title {
    margin-bottom: 20px;
    @media screen and (min-width: @breakpoint-medium) {
        margin-bottom: 40px;
    }
}
.faq-container {
    @media screen and (min-width: @breakpoint-medium) {
        margin-bottom: 20px;
    }
    .uk-padding {
        padding-top: 0;
        @media screen and (min-width: @breakpoint-medium) {
            padding-top: 30px;
        }
    }
    h2 {
        margin-bottom: 0;
    }
}
.uk-open>.uk-accordion-title::before {
    background-image: url(images/backgrounds/accordion-open.svg);
}
.uk-accordion-title::before {
    background-image: url(images/backgrounds/accordion-close.svg);
}