.home_page_slider {
  .uk-slideshow:focus {
    outline: none;
  }

  .has_overlay {
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      pointer-events: none;
      width: 48.5%;
      height: 105%;
      background: #3c4980;
      z-index: 1;
      transform: skew(-22deg);
      transform-origin: top left;
    }
  }

  h2 {
    font-weight: 900;
    line-height: 1.25em;
    margin: 0;
    color: inherit;
    text-transform: uppercase;
    @media (max-width: @breakpoint-small-max) {
      font-size: @global-medium-font-size;
    }
  }
  p {
    color: inherit;
    margin: 0.25em 0;
  }
  .uk-button {
    color: @orange;
    @media (min-width: @breakpoint-medium) {
      color: inherit;
    }
    margin-left: -15px;
  }

  .uk-slider {
    .uk-cover-container {
      min-height: 150px;
      img{
          transform: translate(16%, -50%);
          left: auto;
          right: 0;
      }

      &.has_overlay{
          &::before{
            width: 20%;
          }

      }
    }
    .uk-container {
      padding-top: 15px;
    }
  }

  .overlay {
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 25%;
      bottom: -1%;
      background: white;
      position: absolute;
      z-index: 2;
      transform: skewY(-2.85deg);
      transform-origin: top right;
      pointer-events: none;
      @media (max-width: @breakpoint-medium) {
        height: 17%;
      }
    }
  }
  .uk-slideshow-items > li {
    .uk-container {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      color: white;
      top: 40%;
      transform: translateY(-50%);

      @media (min-width: @breakpoint-large) {
        top: 45%;
      }

      > * {
        max-width: 400px;
      }
    }
    * {
      position: relative;
      z-index: 3;
    }
    img {
      z-index: 0;
    }
  }
}

.home_our_services {
  h3 {
    font-size: 1em;
    color: @blue-dk;
    text-transform: uppercase;
    font-weight: 900;
    margin: 0.75em 0;
  }
  p {
    margin-top: 0;
    margin-bottom: 0.5em;
    .uk-text-small;
  }

  .uk-svg {
    color: @orange;
    transition: color 0.25s ease;
  }
  .switcher_buttons {
      justify-content: space-evenly;
      flex-wrap: nowrap;
    div {
      display: flex;
      align-items: center;
      &:not(.uk-active) {
        .uk-svg {
          color: @gray;
        }
        &:hover {
          .uk-svg {
            color: fade(@orange, 80%);
          }
        }
      }
    }
  }
  .uk-switcher {
    //   padding-left: 60px;
    // @media screen and (min-width: @breakpoint-small) {
    //   padding-left: 30px;
    // }
    // @media screen and (min-width: @breakpoint-medium) {
    //   padding-left: 80px;
    // }
    .match_height {
      @media screen and (min-width: @breakpoint-small) {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-direction: column;

        opacity: 1 !important;
      }
    }
  }
}

.home_who_we_are {
  position: relative;
  overflow: hidden;
  .uk-container {
    // gray background thingy

    &::after,
    &::before {
      @media (min-width: @breakpoint-small) {
        content: "";
      }
      display: block;
      position: absolute;
      width: 63%;
      height: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      background: fade(@gray, 15%);
      pointer-events: none;
      z-index: 0;
      @media (min-width: @breakpoint-large) {
        width: 58%;
      }
    }
    &::before {
      transform: skew(15deg);
      transform-origin: top right;
    }
    &::after {
      transform: skew(-15deg);
      transform-origin: bottom right;
    }

    > * {
      position: relative;
      z-index: 1;
    }
  }
  .uk-grid {
    @media (min-width: @breakpoint-small) {
      flex-wrap: nowrap;
      align-items: center;
    }
  }

  .left_text {
    @media (min-width: @breakpoint-small) {
      max-width: 425px;
    }
    p {
      font-size: 1.125rem;
      margin-top: 0.25em;
    }
  }
  .right_vid {
    @media (min-width: @breakpoint-small) {
      max-width: 507px;
    }

    .uk-cover-container {
      .uk-border-rounded;
      .uk-box-shadow-small;

      &.has_overlay {
        &::before {
          content: "";
        }
      }
      &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: fade(black, 30%);
        z-index: 1;
        opacity: 1;
        transition: opacity 0.25s ease;
        pointer-events: none;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background-image: url("./images/icons/png/play-symbol.png");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        pointer-events: none;
        // transition: background 0.25s ease;transition
        transition: transform 0.25s ease;
        transform: scale(1);
        transform-origin: center;
      }

      &:hover {
        &::before {
          opacity: 0;
        }
        &::after {
          transform: scale(1.125);
          //   background-position: 51% 50%;background-position
        }
      }
    }
    p {
      .uk-text-small;
      .uk-margin-remove-bottom;
      .uk-margin-small-top;
    }
  }
}

.recent_news {
    .uk-slider{
        margin-left: -10px;
        margin-right: -10px;
        @media (min-width: @breakpoint-medium) {
            margin-left: -15px;
            margin-right: -15px;
            
        }
    }
    article{
        height: 100%;
        a{
            display: block;
            height: 100%;
            padding: 10px;
            
            background: transparent;
            transition: background 0.25s ease;
            .uk-border-rounded;
            &:hover{
                background: @gray-lt;
                h3{
                    color: @orange;
                }
                color: inherit;
            }

            @media (min-width: @breakpoint-medium) {
                padding: 15px
            }
        }
    }
  h3 {
    margin-top: 0.25em;
    color: @blue-dk;
    transition: color 0.25s ease;
  }
  p{
      
  }
  .post__excerpt {
    margin: 0;
    font-weight: 400;
  }
  .uk-dotnav {
    padding-top: @global-small-gutter;
    @media (min-width: @breakpoint-medium) {
      padding-top: @global-medium-gutter;
    }
  }
  .uk-cover-container {
    .uk-border-rounded;
  }
  .default_img {
    border: 1px solid @gray;
  }
  .uk-cover-container canvas {
    width: 330px;
    height: 200px;
    @media (min-width: @breakpoint-medium) {
      height: 0;
      padding-bottom: 61%;
    }
  }
}
