.page-template-tpl-industries {
    .industries-jumplinks {
        a {
            color: @blue-dk;
            font-size: 12px;
        }

        .uk-list {
            padding-left: 1em;
        }

        h2 {
            margin-bottom: 0;
        }
        width: 218px;
    }
    .sibling_sidebar {
        padding-top: 0;   
    }

    .industry-container {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0;

        @media screen and (min-width: @breakpoint-medium) {
            padding-left: 0;
            padding-right: 0;
            padding-top: 40px;
        }
    }
    .industry-side {
        @media screen and (min-width: @breakpoint-medium) {
            padding-left: 0;
        }
    }

    .uk-accordion {
        li {
            border-bottom: 1px solid @gray-dk;
            &:first-child {
                border-top: 1px solid @gray-dk;
                padding-top: 5px;
                padding-bottom: 5px;
                @media screen and (min-width: @breakpoint-medium) {
                    border: none;
                }
            }
            @media screen and (min-width: @breakpoint-medium) {
                border: none;
            }
            
        }

        &>:nth-child(n+2) {
            margin-top: 5px;
            padding-bottom: 5px;

            @media screen and (min-width: @breakpoint-medium) {
                margin-top: 0;
                padding-bottom: 0;
            }
        }
    }

    li {
        @media screen and (min-width: @breakpoint-medium) {
            &:last-child .industry {
                border: none;
            }
            &:first-child .industry { 
                margin-top: 0;
            }
        }
        .uk-accordion-title {
            color: @blue-dk;
        }

        .industry {
            margin-left: auto;
            margin-right: auto;

            @media screen and (min-width: @breakpoint-medium) {
                margin: 40px 0 0;
                // margin-left: 0;
                // margin-right: 0;
                border-bottom: 1px solid @gray-dk;
                
            }

            p,
            a {
                font-size: 13px;
            }

            h2 {
                color: @blue-dk;
                margin-bottom: 0;
            }

            p {
                margin-top: 0;
            }

            img {
                margin-bottom: 20px;
            }

            .uk-first-column {
                padding-left: 0;

                @media screen and (max-width: @breakpoint-medium) {
                    margin-top: 5px;
                    img {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .industry_cta {
        text-transform: uppercase;
    }
}