
.sibling_sidebar{
    padding-top: calc(1.75rem * 1.2 + 15px);
    .title{
        text-transform: uppercase;
        font-size: @global-large-font-size;
        margin-bottom: 0;
        .uk-text-emphasis;
        font-weight: 900;
        +ul{
            margin-top: 0.25em;
        }
    }
    li{
        background-color: transparent;
        transition: background-color 0.35s ease;
        .uk-border-rounded;
        padding-left: 0.375em;
        padding-right: 0.375em;
        &:hover{
            background-color: @gray-lt;
        }

        &::before{
            pointer-events: none;
        }
        a{
            &:extend(.button-hover-effect all);
            transition: color 0.35s ease;
            color: @blue-dk;
            display: block;
            &:hover{
                text-decoration: none;
            }
        }
    }
}

@keyframes bounce {
    from { background-position-y: 41%;}
    20%,40%, 80% { background-position-y: 48%;}
    30% { background-position-y: 45%;}
    to { background-position-y: 41%;}
  }