.service_parent{
    .top{
        display: flex;
        align-items: center;
        .uk-svg{
            flex: 0 1 20%;
            margin-right: 0.75rem;
            color: @orange;
            min-width: 50px;
            max-width: 75px;
        }
        h3{
            text-transform: uppercase;
            font-weight: 900;
            color: @blue-dk;
            font-size: 1em;
            margin: 0;
            flex: 0 1 80%;
            line-height: 1.25em;
        }
    }
    .uk-grid .uk-grid-margin{
        margin-top: 50px;
    }
    .uk-list{
        li:nth-child(n+2){
            margin-top: 0.5em;
        }
        a{
            background: @gray-lt;
            color: #3B3B3B;
            display: flex;
            justify-content: space-between;
            text-align: left;
            line-height: 1.25em;
            padding-top: 0.375em;
            padding-bottom: 0.375em;
            &:hover{
                background: darken(@gray-lt, 7);
            }
            &::after{
                display: flex;
                align-items: center;
            }
        }
    }
}