header + main{
    @media (min-width: @breakpoint-small) {
        padding-bottom: 71px;
    }
    @media (min-width: @breakpoint-medium) {
        padding-bottom: 111px;
    }
}
footer.footer{
    background-size: 100% 100%;
    background-position: bottom center;
    color: white;
    background-color: #5868aa;
    z-index: 2;
    @media (min-width: @breakpoint-small) {
        background-color: transparent;
        background-image: url('./images/footer-bg.png');
        padding: 2em 0.5em 0.5em; 
        margin-top: -71px;
    }
    @media (min-width: @breakpoint-medium) {
        padding: 4em 1em 1em; 
        margin-top: -111px;
    }
    
    .uk-flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        @media (min-width: @breakpoint-small) {
            align-items: flex-end;
            flex-direction: row;
        }
    }
    .footer__copyright{
        line-height: 1;
        .uk-text-small;
    }
    .footer__social{
        a{
            color: white;
            &:hover{
                color: @orange;
            }
        }

    }
}