.featured_image {


    &--small {
        position: relative;
        .uk-border-rounded;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url(./images/icons/png/header-small-overlay.png?v=1);
            background-size: 100% 100%;
            pointer-events: none;
        }
    }

    &--large {
        position: relative;
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 21vw;

            &::before {
                content: "";
                display: block;
                position: absolute;
                right: 0;
                pointer-events: none;
                right: -8%;
                width: 60%;
                height: 90%;
                background: #3c4980;
                z-index: 1;
                transform: skew(-22deg);
                transform-origin: top left;
            }

            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 25.4%;
                bottom: 0;
                background: white;
                position: absolute;
                z-index: 2;
                transform: skewY(-2.85deg);
                transform-origin: top right;
                pointer-events: none;

                @media (max-width: @breakpoint-medium) {
                    height: 26%;
                }
            }

        

        img {
            width: 100%;
        }

    }

}
#header-large-content {
    z-index: 2;
    width: 50%;
    margin-left: 23%;

    @media screen and (min-width: @breakpoint-large) {
        width: 40%;
        margin-left: 19%;
    }

    @media screen and (min-width: @breakpoint-xlarge) {
        width: 26%;
        margin-left: 11%;
    }

    color: #FFF;

    h1 {
        color: #FFF;
        margin-bottom: 0;
    }

    p {
        margin-top: 0;
    }
}
#header-mobile-content {
    h1 {
        margin-bottom: 0;
    }

    p {
        margin-top: 0;
    }
}

.text-orange {
    color: @orange;
}