header {
    .uk-padding-remove-horizontal-s {
        padding-left: 0;
        padding-right: 0;
    }

    &.header {
        z-index: 3;
    }

    nav.uk-navbar {

        @media screen and (min-width: @breakpoint-medium) {
            position: static;
        }
    }

    .contact {
        background: url('./images/icons/png/navbar_contact.png') no-repeat;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .button-hover-effect:hover::after {
            transform: translateX(0%);
        }

        a {
            color: #FFF;
            font-size: 10px;
            text-transform: uppercase;
            padding: 0 1px 0 9px;

        }


    }

    .uk-navbar-toggle {
        min-height: 27px;
        margin: 0;
        padding: 0 0 0 11px;

        @media screen and (min-width: 960px) {
            // padding-top: 11px;
            // padding-bottom: 11px;
            margin: 0 11px;
        }
    }

    img.header__logo {
        width: 97px;

        @media screen and (min-width: 960px) {
            height: auto;
            width: 143px;
        }
    }

    .plus {
        padding: 0px 30px 0 5px;
        line-height: 1em;
        font-size: 1.4em;
        vertical-align: -3px;

        &.m {
            vertical-align: 0px;
            line-height: 0;
        }
    }



    #mobile_hamburger {
        a {
            color: @gray;
        }
    }

    #mobile_hamburger [data-svg="menu"] rect {
        height: 2.5px;
        rx: 1px;
    }

    //Adjusts overall height of the main navbar
    #main_menu .uk-navbar-item,
    a.uk-navbar-item.uk-logo,
    #main_menu.uk-navbar-nav>li>a {
        min-height: 27px;
        // margin: 11px 0;
        padding-top: 11px;
        padding-bottom: 11px;
    }

    #main_menu {

        a {
            color: @blue-dk;

        }

        li.menu-item {

            &:last-child {

                a {
                    border-left: 2px solid @blue-dk;
                    color: @orange;
                    padding-left: 22px;
                }
            }

            &:nth-last-child(2) {
                a {
                    padding-right: 22px;
                }
            }

            a {
                // Needed for the orange bar that shows up on hover
                position: relative;
            }
        }


        li.menu-item:hover a:after {
            //Adds orange bar on hover to main menu
            content: '';
            height: 10px;
            width: 100%;
            background-color: @orange;
            position: absolute;
            bottom: -3px;
            left: 0;
        }

        .sub-menu {
            &:extend(.uk-nav-sub all);
            padding-left: 0;
            .sub-menu {
                position: relative;
            }
        }


        .menu-item-has-children .sub-menu {
            background-color: #18214A;
            font-size: 14px;
            text-transform: uppercase;
            padding: 30px;
            z-index: 3;
            margin-top: 3px; // might be able to remove this later

            a {
                color: #FFF;

                &:hover {
                    text-decoration: underline;
                }
            }

            li.menu-item {
                margin: 0px 0 15px;

                &:last-child {
                    margin: 0;
                    a {
                        border-left: none;
                        color: #FFF;
                        padding-left: 0px;
                    }
                }

                &:nth-last-child(2) {
                    a {
                        padding-right: 0px;
                    }
                }
            }

            li.menu-item:hover a:after,
            li.menu-item a:after {
                //Keeps the orange bar from showing in the sub-nav
                position: initial;
                height: 0;
                width: 0;
                background-color: transparent;
            }

            li.menu-item-has-children {
                display: inline-block;
                vertical-align: top;
                height: 100%;
                text-align: left;

                &:first-child {
                    border-left: none;
                }

                .sub-menu {
                    width: auto;
                    height: auto;
                    left: auto;
                    text-align: left;
                    padding: 0;

                    li {
                        text-transform: initial;
                        font-size: 13px;
                        margin: 0;
                        line-height: 1.2em;

                        a {
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}

#mobile_nav {
    &:last-child {
        a {
            color: @orange;
        }
    }

    &.uk-offcanvas {
        top: 30px;
    }

    &.uk-offcanvas-overlay::before {
        background: rgba(0, 0, 0, 0);
    }

    .uk-offcanvas-bar {
        background-color: @blue-dk;

        a {
            color: #FFF;
        }
    }
    span.plus {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.322' height='14.322' viewBox='0 0 14.322 14.322'%3E%3Cg transform='translate(-1434.5 -453.5)'%3E%3Cline y2='14.322' transform='translate(1441.661 453.5)' fill='none' stroke='%23FFFFFF' stroke-width='3'/%3E%3Cline y2='14.322' transform='translate(1448.822 460.661) rotate(90)' fill='none' stroke='%23FFFFFF' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E");
            width: 1.4em;
            height: 1.5em;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            display: inline-block;
            color: transparent;
            &.m {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.322' height='3' viewBox='0 0 14.322 3'%3E%3Cg transform='translate(-1434.5 -459.161)'%3E%3Cline y2='14.322' transform='translate(1448.822 460.661) rotate(90)' fill='none' stroke='%23FFFFFF' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E");
            }
      }

    #mainMenuMobile {
        li {
            &:last-child {
                a {
                    color: @orange;
                }
            }
        }

        .sub-menu {
            margin-left: @global-gutter;
            text-transform: capitalize;

            ul {
                margin-top: 5px;
            }

            li {
                padding-bottom: 4px;

                a {
                    font-weight: 300;
                    color: #FFF;

                    &:last-child {
                        color: #FFF;
                    }

                    .menu-item-has-children {
                        font-weight: 600;
                    }
                }
            }

        }
    }
}