[class*=shadow-] {
    position: relative;
    &::before, &::after{
        display: block;
        position: absolute;
        width: 100%;
        height: 10px;
        opacity: 40%;
        pointer-events: none;
    }
    &::before{
        top: 0;
        background: linear-gradient(180deg, #848484, transparent);
    }
    &::after{
        bottom: 0;
        background: linear-gradient(0deg, #848484, transparent);
    }
}
.shadow-top{
    &::before{
        content: '';
    }
    @media screen and (max-width: @breakpoint-xsmall-max) {
        &-show\@s::before{
            content: '';
        }
    }
    @media screen and (min-width: @breakpoint-small) {
        &-hide\@s::before{
            content: '';
        }
    }
    @media screen and (max-width: @breakpoint-small-max) {
        &-show\@m::before{
            content: '';
        }
    }
    @media screen and (min-width: @breakpoint-medium) {
        &-hide\@m::before{
            content: '';
        }
    }
    @media screen and (max-width: @breakpoint-large) {
        &-show\@l::before{
            content: '';
        }
    }
    @media screen and (min-width: @breakpoint-large) {
        &-hide\@l::before{
            content: '';
        }
    }
    @media screen and (max-width: @breakpoint-xlarge) {
        &-show\@xl::before{
            content: '';
        }
    }
    @media screen and (min-width: @breakpoint-xlarge) {
        &-hide\@xl::before{
            content: '';
        }
    }
}
.shadow-bottom{
    &::after{
        content: '';
    }
    @media (max-width: @breakpoint-small) {
        &-show\@s::after{
            content: '';
        }
    }
    @media (min-width: @breakpoint-small) {
        &-hide\@s::after{
            content: '';
        }
    }
    @media (max-width: @breakpoint-medium) {
        &-show\@m::after{
            content: '';
        }
    }
    @media (min-width: @breakpoint-medium) {
        &-hide\@m::after{
            content: '';
        }
    }
    @media (max-width: @breakpoint-large) {
        &-show\@l::after{
            content: '';
        }
    }
    @media (min-width: @breakpoint-large) {
        &-hide\@l::after{
            content: '';
        }
    }
    @media (max-width: @breakpoint-xlarge) {
        &-show\@xl::after{
            content: '';
        }
    }
    @media (min-width: @breakpoint-xlarge) {
        &-hide\@xl::after{
            content: '';
        }
    }
}


.shadow-all{
    &:extend(.shadow-top all);
    &:extend(.shadow-bottom all);
}