@orange: #F98A3C; // links/accent/etc
@gray-dk: #3B3B3B; // sidebar background
@gray: #939498; // button/link hover
@gray-lt: #EBEBEB; // button/link hover
@blue-dk: #3C4981; // ex: section header color 