h1 {
  color: @blue-dk;
  font-weight: 900;
  text-transform: uppercase;
}
.page__content {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    + * {
      margin-top: 0;
    }
  }
  h2 {
    text-transform: uppercase;
  }
}
