
// IMPORT uikit-base
@import '../../../../node_modules/uikit/src/less/uikit.theme.less';

@import 'base/typography.less';

@import 'base/base.less';

@import 'abstracts/variables.less';

@import 'abstracts/section-shadow.less';

@import 'components/buttons.less';

@import 'layout/header';
@import 'layout/footer.less';

@import 'layout/headers.less';// for sub page header/hero images

@import 'pages/default_template.less';

@import 'pages/home.less';
@import 'pages/about.less';
@import 'pages/contact.less';
@import 'pages/faqs.less';
@import 'pages/industries.less';

@import 'pages/services_parent.less';
@import 'pages/services_lower.less';

@import 'pages/blog.less';

@global-font-family: 'Open Sans', Robot, Arial, sans-serif;

// @container-max-width:                   1100px;

@lightbox-background: fade(@gray, 75%);

@base-heading-font-weight: 700;

@global-2xlarge-font-size:                      1.75rem; // 42px
@global-xlarge-font-size:                       1.375rem;     // 32px
@global-large-font-size:                        1.25rem;   // 24px
@global-medium-font-size:                       1.125rem;  // 20px

.orange{
    color: @orange;
}


header>h2{
    color: @blue-dk;
    text-transform: uppercase;
    font-weight: 800;
    // font-size: @base
}


.uk-slider-container:focus{
    outline: none;
}


.contact_ribbon{
    position: fixed;
    right: -10px;
    top: 40%;
    z-index: 9999;
    a{
        color: white;
        background-image: url('./images/icons/png/contact-ribbon.png');
        background-size: 100% 100%;
        padding: 20px 25px 25px;
        transition: 0.5s padding ease;
        text-transform: uppercase;
        &:hover{
            padding-right: 30px;
            text-decoration: none;
        }
    }
}

.blue_tri{
    position: relative;
    overflow: hidden;
    padding-top: calc(10px + (35 - 10) * (100vw - 320px) / (1920 - 320));
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-top: calc(20px + (69 - 20) * (100vw - 320px) / (1920 - 320)) solid @blue-dk;
        border-right: 110vw dashed transparent;

    }
}
.tech_background{
    @media (min-width: @breakpoint-large) {
        background-image: url('./images/icons/svg/tech-background.svg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-y: center;
        background-position-x: calc(-100px + (0 + 100) * (100vw - 1280px) / (1920 - 1280));
    }
    @media (min-width: 1920px) {
        background-position-x: 0;
    }
}